<div class="bodyContainer">
    <div class="bodyWrap p-5">
      <div class="editProfileHeader">
        <div class="editProfileTitle pl-4 fontFamily font-weight-bold">Student Details</div>
      </div>
      <div class="studentDetails pl-4">
        <div class="userInfo pb-3 pt-3 fontFamily font-weight-bold">
          Student Information
        </div>
        <div class="dataHeading fontFamily font-weight-bold">
          First Name
        </div>
        <div class="pb-3 pt-2 fontFamily">
         {{firstName}}
        </div>
        <div class="dataHeading fontFamily font-weight-bold">
          Last Name
        </div>
        <div class="pb-3 pt-2 fontFamily">
         {{lastName}}
        </div>
        <div class="dataHeading fontFamily font-weight-bold">
          Selected Language
        </div>
        <div class="pb-3 pt-2 fontFamily">
         {{selectedLanguage}}
        </div>
        <div class="dataHeading fontFamily font-weight-bold">
          Email Address
        </div>
        <div class="pb-3 pt-2 fontFamily">
         {{emailAdress}}
        </div>
        <div class="dataHeading fontFamily font-weight-bold">
          Student Phone Number
        </div>
        <div class="pb-4 pt-2 fontFamily">
         {{phoneNumber}}
        </div>
      </div>
    </div>
</div>